@font-face {
  font-family: 'Nunito Sans Italic';
  src: url('./assets/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./assets/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.brand {
  font-family: 'Nunito Sans Italic', sans-serif;
  color: lightgray;
  display: flex;
  justify-content: center;
}

.brand p {
  margin: 0;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  &-choice {
    background-color: #039;
    color: #fff;
  }
  &-page {
    background-color: #f2f2f2;
    color: #000;
    border-color: #333;
    text-decoration-line: none;
  }
}
